{{>layout/header}}
<link href="/css/app/admin.css" rel="stylesheet">

<div class="content">
    <h2>West Brother_Admin</h2>

    <div class="accordion" id="accordionWrapper">
        <div class="accordion-item">
            <h2 class="accordion-header" id="프로필">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#내용1" aria-expanded="false" aria-controls="내용1">
                    메인프로필 관리
                </button>
            </h2>
            <div id="내용1" class="accordion-collapse collapse" aria-labelledby="프로필" data-bs-parent="#accordionWrapper">
                <div class="accordion-body">
                    <button type="button" class="btn btn-primary" onclick="movePage('/admin/profiles');">프로필 전체보기</button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="연락처">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#내용2" aria-expanded="false" aria-controls="내용2">
                    연락처 & SNS 관리
                </button>
            </h2>
            <div id="내용2" class="accordion-collapse collapse" aria-labelledby="연락처" data-bs-parent="#accordionWrapper">
                <div class="accordion-body">
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/contact');">연락처 전체보기</button>
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/contact-save');">연락처 생성</button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="이력서">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#내용3" aria-expanded="false" aria-controls="내용3">
                    이력서 관리
                </button>
            </h2>
            <div id="내용3" class="accordion-collapse collapse" aria-labelledby="이력서" data-bs-parent="#accordionWrapper">
                <div class="accordion-body">
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/resume')">이력서 전체보기</button>
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/education-save')">Education 생성</button>
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/career-save')">Career 생성</button>
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/certificate-save')">Certificate 생성</button>
                    <br /><br />
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" onclick="movePage('/admin/project-save')">Project 생성</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="토큰">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#내용4" aria-expanded="false" aria-controls="내용4">
                    토큰관리
                </button>
            </h2>
            <div id="내용4" class="accordion-collapse collapse" aria-labelledby="토큰" data-bs-parent="#accordionWrapper">
                <div class="accordion-body">
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/tokens');">토큰 전체보기</button>
                    <button type="button" class="btn btn-secondary" onclick="movePage('/admin/tokens-save');">토큰 생성</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function movePage(url){
        location.href = url;
    }
</script>

{{>layout/footer}}