{{>layout/header}}
<link href="/css/app/admin.css" rel="stylesheet">

<div class="content">
    <h2>Contact 생성하기</h2>
    <div class="backDiv">
        <button type="button" class="btn btn-primary" onclick="moveBack();">뒤로가기</button>
    </div>
    <div class="formAll container">
        <div class="mb-3 row">
            <label for="이름입력" class="col-sm-2 col-form-label">name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="이름입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="engName입력" class="col-sm-2 col-form-label">engName</label>
            <div class="col-sm-10">
                <input type="text" name="engName" class="form-control" id="engName입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="sortOrder입력" class="col-sm-2 col-form-label">정렬순서</label>
            <div class="col-sm-10">
                <input type="text" name="sortOrder" class="form-control" id="sortOrder입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="노출위치입력" class="col-sm-2 col-form-label">노출위치입력</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="노출위치입력" id="inlineRadio1" value="메인">
                    <label class="form-check-label" for="inlineRadio1">메인</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="노출위치입력" id="inlineRadio2" value="이력서">
                    <label class="form-check-label" for="inlineRadio2">이력서</label>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="logoFileName입력" class="col-sm-2 col-form-label">logoFileName</label>
            <div class="col-sm-10">
                <input type="text" name="logoFileName" class="form-control" id="logoFileName입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="logoHtml입력" class="col-sm-2 col-form-label">logoHtml</label>
            <div class="col-sm-10">
                <input type="text" name="logoPath" class="form-control" id="logoHtml입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="siteId입력" class="col-sm-2 col-form-label">siteId</label>
            <div class="col-sm-10">
                <input type="text" name="siteId" class="form-control" id="siteId입력" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="siteUrl입력" class="col-sm-2 col-form-label">siteUrl</label>
            <div class="col-sm-10">
                <input type="text" name="siteUrl" class="form-control" id="siteUrl입력" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary" onclick="go저장하기();">저장하기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function moveBack(){
        location.href = "/admin";
    }
    function go저장하기(){
        let url = '/api/v1/contact';
        let jsonP = {
            'name': $('#이름입력').val(),
            'engName': $('#engName입력').val(),
            'sortOrder': $('#sortOrder입력').val(),
            'pageGubun': $('input[name=노출위치입력]:checked').val(),
            'logoFileName': $('#logoFileName입력').val(),
            'logoHtml': $('#logoHtml입력').val(),
            'siteId': $('#siteId입력').val(),
            'siteUrl': $('#siteUrl입력').val(),
        }
        wbSave(function (ret){
            alert('저장에 성공했습니다.', ret);
            moveBack();
        }, function (ret){
            alert('저장에 실패했습니다.', ret);
        }, url, jsonP);
    }
</script>


{{>layout/footer}}