{{>layout/header}}
<link href="/css/app/admin.css" rel="stylesheet">

<div class="content">
    <h2>Contact 수정하기</h2>
    <div class="backDiv">
        <button type="button" class="btn btn-primary" onclick="moveBack();">뒤로가기</button>
    </div>
    <div class="formAll container">
        {{#contacts}}
        <div class="mb-3 row">
            <label for="id입력" class="col-sm-2 col-form-label">id</label>
            <div class="col-sm-10">
                <input type="text" name="id" class="form-control" id="id입력" readonly value="{{id}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="name입력" class="col-sm-2 col-form-label">name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name입력" value="{{name}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="engName입력" class="col-sm-2 col-form-label">engName</label>
            <div class="col-sm-10">
                <input type="text" name="engName" class="form-control" id="engName입력" value="{{engName}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="sortOrder입력" class="col-sm-2 col-form-label">정렬순서</label>
            <div class="col-sm-10">
                <input type="text" name="sortOrder" class="form-control" id="sortOrder입력" value="{{sortOrder}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="logoFileName입력" class="col-sm-2 col-form-label">logoFileName</label>
            <div class="col-sm-10">
                <input type="text" name="logoFileName" class="form-control" id="logoFileName입력" value="{{logoFileName}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="logoHtml입력" class="col-sm-2 col-form-label">logoHtml</label>
            <div class="col-sm-10">
                <input type="text" name="logoPath" class="form-control" id="logoHtml입력" value="{{logoHtml}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="siteId입력" class="col-sm-2 col-form-label">siteId</label>
            <div class="col-sm-10">
                <input type="text" name="siteId" class="form-control" id="siteId입력" value="{{siteId}}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="siteUrl입력" class="col-sm-2 col-form-label">siteUrl</label>
            <div class="col-sm-10">
                <input type="text" name="siteUrl" class="form-control" id="siteUrl입력" value="{{siteUrl}}">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary" onclick="go수정하기();">수정하기</button>
                <button type="button" class="btn btn-danger" onclick="go삭제하기();">삭제하기</button>
            </div>
        </div>
        {{/contacts}}
    </div>
</div>

<script>
    function moveBack(){
        location.href = "/admin/contact";
    }
    function go수정하기(){
        var url = "/api/v1/contact/" + $('#id입력').val();
        var param = {
            name : $('#name입력').val(),
            engName : $('#engName입력').val(),
            logoFileName: $('#logoFileName입력').val(),
            logoHtml: $('#logoHtml입력').val(),
            siteId: $('#siteId입력').val(),
            siteUrl: $('#siteUrl입력').val(),
            sortOrder: $('#sortOrder입력').val(),
        }
        wbUpdate(function (){
            alert("Contact 수정에 성공했습니다.");
            location.href="/admin/contact"
        },function (){
            alert("Contact 수정에 실패했습니다.");
        },url,param);
    }
    function go삭제하기(){
        var id = $('#id입력').val()
        var url = "/api/v1/contact/" + id;
        wbDelete(function (ret){
            alert("Contact data 삭제완료. id="+id);
            moveBack();
        },function (ret){
            alert("Contact data 삭제실패. id="+id);
        },url,{});
    }

</script>


{{>layout/footer}}