{{>layout/header}}
<link href="/css/app/resume.css" rel="stylesheet">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/androidstudio.min.css">


<div class="contents">
    <div onclick="moveBack();" class="backBtn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
    </svg></div>
    <div class="wrapper">
        <div class="leftAll">
            <div class="contactImgBox">
                <div class="contactImgDiv" style="background-image: url('/image/app/bg_main.jpg');">
                </div>
            </div>
            <div class="mContactMyName"><span>임서형</span><br>
                <span>나무를 보지 않고, 숲을 볼 수 있도록</span></div>


            <div class="contactMain">
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>About</span>
                    </div>
                    <div class="contactAboutContent">
                        <div>
                            Junior IT Developer <br/>
                            - Java Web Backend <br/>
                            - React Frontend <br/>
                            - AWS Cloud, CI/CD DevOps <br/>
                            - SpringBoot, DevOn <br/>
                            - python
                        </div>
                    </div>
                </div>

                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>Dev Stack</span>
                    </div>
                    <div id="skill-set-all" class="contactAboutContent">
                    </div>
                </div>

                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>Contact</span>
                    </div>
                    <div id="contactInfoAll">
                    </div>
                </div>
            </div>
        </div>


        <div class="rightAll">
            <div class="hContactMyName">
                <span>임서형</span><br>
                <span>나무를 보지 않고, 숲을 볼 수 있도록</span>
            </div>
            <!-- Carrer 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Carrer</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.careers}}
                    <div class="careerInfo">
                        <span>{{startDate2}} ~ {{endDate2}}</span>
                        <span>{{title}}</span>
                    </div>
                {{/resume.careers}}
            </div>
            <!-- /Carrer 종료 -->

            <!-- Education 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Education</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.educations}}
                <div class="careerInfo">
                    <span>{{startDate2}} ~ {{endDate2}}</span>
                    <span>{{title}}</span>
                </div>
                {{/resume.educations}}
            </div>
            <!-- /Education 종료 -->

            <!-- Certificate 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Certificate</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.certificates}}
                <div class="careerInfo">
                    <span>{{licenseDate2}}</span>
                    <span>{{title}}</span><span class="certification">({{certification}})</span>
                </div>
                {{/resume.certificates}}
            </div>
            <!-- /Certificate 종료 -->

            <!-- Project 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Project</span>
                    <span id="projectClickInfo">(<span></span>프로젝트를 클릭해주세요)</span>
                    <div class="botLine"></div>
                    <script>
                        var tstTitleMap = {};
                    </script>
                </div>
                {{#resume.projects}}
                <div class="careerInfo">
                    <span>{{startDate2}} ~ {{endDate2}}</span>
                    <a href="javascript:void(0);" onclick="appendPostList('{{id}}')" class="projectContent">{{title}}
                    <br>{{content}}</a>
                </div>
                <script>
                    tstTitleMap['{{id}}'] = ['{{title}}','{{contentDetail}}'];
                </script>
                {{/resume.projects}}
            </div>
            <!-- /Project 종료 -->
        </div>
    </div>
    <div class="resumeFooter"></div>
</div>


<script src="/js/app/resume.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

{{>layout/footer}}