{{>layout/header}}
<link href="/css/app/resume.css" rel="stylesheet">

<div class="contents">
    <div onclick="moveBack();" class="backBtn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
    </svg></div>
    <div class="wrapper">
        <div class="leftAll">
            <div class="contactImgBox">
                <div class="contactImgDiv" style="background-image: url('/image/app/bg_main.jpg');">
                </div>
            </div>
            <div class="mContactMyName"><span>임서형</span><br>
                <span>Web Developer</span></div>


            <div class="contactMain">
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>About</span>
                    </div>
                    <div class="contactAboutContent">
                        <div>개발자~~~~~~~소개~~소개글ddddddddd</div>
                    </div>
                </div>
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>Contact</span>
                    </div>
                    <div id="contactInfoAll">
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/phone7.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">010 8836 0007</span>-->
<!--                        </div>-->
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/logo_email7.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">bgwb0007@gmail.com</span>-->
<!--                        </div>-->
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">@west_brotherr</span>-->
<!--                        </div>-->
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/logo_github4.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">bgwb0007@naver.com</span>-->
<!--                        </div>-->
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/logo_linkedIn3.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">bgwb0007@naver.com</span>-->
<!--                        </div>-->
<!--                        <div class="contactInfoDiv">-->
<!--                            <span class="logo"><img src="/image/app/place.png" alt="인스타로고" width="35"></span>-->
<!--                            <span class="siteId">서울특별시 중구</span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="rightAll">
            <div class="hContactMyName">
                <span>임서형</span><br>
                <span>Web Developer</span>
            </div>
            <!-- Carrer 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Carrer</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.careers}}
                    <div class="careerInfo">
                        <span>{{startDate2}} ~ {{endDate2}}</span>
                        <span>{{title}}</span>
                    </div>
                {{/resume.careers}}
            </div>
            <!-- /Carrer 종료 -->

            <!-- Education 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Education</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.educations}}
                <div class="careerInfo">
                    <span>{{startDate2}} ~ {{endDate2}}</span>
                    <span>{{title}}</span>
                </div>
                {{/resume.educations}}
            </div>
            <!-- /Education 종료 -->

            <!-- Certificate 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Certificate</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.certificates}}
                <div class="careerInfo">
                    <span>{{licenseDate2}}</span>
                    <span>{{title}}({{certification}})</span>
                </div>
                {{/resume.certificates}}
            </div>
            <!-- /Certificate 종료 -->

            <!-- Project 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Project</span>
                    <div class="botLine"></div>
                </div>
                {{#resume.projects}}
                <div class="careerInfo">
                    <span>{{startDate2}} ~ {{endDate2}}</span>
                    <span>{{title}}
                    <br>{{content}}</span>
                </div>
                {{/resume.projects}}
            </div>
            <!-- /Project 종료 -->
        </div>
    </div>
    <div class="resumeFooter"></div>
</div>

<script>
    function onInit(){
        getContactList();
    }
    function moveBack(){
        location.href = '/';
    }

    function getContactList(){
        var url = '/api/v1/contact/이력서';
        wbGetJson(function (res){
            var html = '';
            $.each(res,function (idx,item){
                html += '<div class="contactInfoDiv">';
                html += '    <span class="logo"><img src="'+item.logoHtml+'" alt="인스타로고" width="35"></span>';
                html += '    <span class="siteId">'+item.siteId+'</span>';
                html += '</div>';
            })
            $('#contactInfoAll').append(html);
        },function (res){

        },url,{});
    }

</script>

{{>layout/footer}}