{{>layout/header}}
<link href="/css/app/resume.css" rel="stylesheet">

<div class="contents">
    <div onclick="moveBack();" class="backBtn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
    </svg></div>
    <div class="wrapper">
        <div class="leftAll">
            <div class="contactImgBox">
                <div class="contactImgDiv" style="background-image: url('/image/app/bg_main.jpg');">
                </div>
            </div>
            <div class="mContactMyName"><span>임서형</span><br>
                <span>Web Developer</span></div>


            <div class="contactMain">
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>About</span>
                    </div>
                    <div class="contactAboutContent">
                        <div>개발자~~~~~~~소개~~소개글ddddddddd</div>
                    </div>
                </div>
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>Contact</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">010 8836 0007</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="35"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="rightAll">
            <div class="hContactMyName">
                <span>임서형</span><br>
                <span>Web Developer</span>
            </div>
            <!-- Carrer 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Carrer</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2018.06 ~ 2018.09</span>
                    <span>인턴</span>
                </div>
                <div class="careerInfo">
                    <span>2021.07 ~</span>
                    <span>LG CNS 클라우드런치센터 클라우드개발3팀</span>
                </div>
            </div>
            <!-- /Carrer 종료 -->

            <!-- Education 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Education</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2014.03 ~ 2021.08</span>
                    <span>경희대학교 산업경영공학</span>
                </div>
                <div class="careerInfo">
                    <span>2014.03 ~ 2021.08</span>
                    <span>경희대학교 산업경영공학(졸)</span>
                </div>
            </div>
            <!-- /Education 종료 -->

            <!-- Certificate 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Certificate</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2021.12</span>
                    <span>정보처리기사(한국산업진흥원)</span>
                </div>
                <div class="careerInfo">
                    <span>2021.12</span>
                    <span>정보처리기사</span>
                </div>
                <div class="careerInfo">
                    <span>2021.12</span>
                    <span>정보처리기사</span>
                </div>
            </div>
            <!-- /Certificate 종료 -->

            <!-- Project 시작 -->
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Project</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2020.02 ~ 2020.12</span>
                    <span>(Side)부산테니스팡팡 홈페이지 개발
                    <br>프로젝트 정보....~~</span>
                </div>
                <div class="careerInfo">
                    <span>2021.09 ~ 2022.04</span>
                    <span>kb국민카드 홈 리뉴얼 프로젝트
                    <br>프로젝트 정보....~~</span>
                </div>
                <div class="careerInfo">
                    <span>2022.05 ~ 2022.11</span>
                    <span>신한은행 NewApp 개발 프로젝트
                    <br>프로젝트 정보....~~</span>
                </div>
            </div>
            <!-- /Project 종료 -->
        </div>
    </div>
    <div class="resumeFooter"></div>
</div>

<script>
    function moveBack(){
        location.href = '/';
    }
</script>

{{>layout/footer}}