{{>layout/header}}
<link href="/css/app/daily.css" rel="stylesheet">

<div id="contents">

</div>
<script>

    function getTistoryList(){
        var successCallBack = function (ret){
            console.log("##티스토리 성공##",ret);
            debugger;
        }
        let url = '/api/v1/tistory';
        wbGetJson(successCallBack,function (ret){
            console.log("##티스토리 실패##",ret);
            debugger;
        },url);
    }
    function getTistoryDetail(){
        var successCallBack = function (ret){
            console.log("##티스토리 성공##",ret);
            debugger;
        }
        let url = '/api/v1/tistory/2';
        wbGetJson(successCallBack,function (ret){
            console.log("##티스토리 실패##",ret);
            debugger;
        },url);
    }

    function appendInstagram(list){
        let html = "";
        html += '<div id="instaWrapper">';
        $.each(list,function (idx,item) {
            let caption = item.caption.replaceAll('\n','<br>');
            html += '    <div class="instagram-All">';
            html += '        <div class="instagram-title">';
            html += '            <img src="/image/app/logo_instagram.png">';
            html += '                <span class="instagram-username">'+item.username+'</span>';
            html += '        </div>';
            html += '        <div class="instagram-media">';
            html += '            <video src="'+item.media_url+'" controls id="realsVideo"></video>';
            html += '        </div>';
            html += '        <div class="instagram-content">';
            html += '            <span class="instagram-username">'+item.username+'</span>';
            html += '            <span class="instagram-caption">'+caption+'</span>';
            html += '        </div>';
            html += '    </div>';
        });
        html += '</div>';
        $('#contents').append(html);
    }
</script>


{{>layout/footer}}