{{>layout/header}}
<link href="/css/app/daily.css" rel="stylesheet">

<div id="contents">
    <button type="button" class="btn btn-primary" onclick="appendTistoryModal('tstModal');">리스트보기</button>

    <div class="modal fade" id="tstModal" tabindex="-1" aria-labelledby="tstModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tstModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="list-group modal-body">
                    <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                        The current button
                    </button> -->
                    <div id="tstPost2">
                        <button type="button" onclick="appendTistoryDetail('2');" class="list-group-item list-group-item-action">A second item</button>
                    </div>
                    <!-- <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tstTitleMap = {
        'tstModal' : '[이력서]'
    }
    var tistoryList = []

    function appendTistoryModal(modalId){
        // TODO. 해당 리스트 가져오기 -> 모달 만들어서 append(id = modalId)
        if (tistoryList.length > 0){
            appendSelectedList();
        }else{
            getTistoryList(function (ret){
                console.log("##티스토리 성공##",ret);
                debugger;
                tistoryList = ret.tistory.item.posts;
                appendSelectedList();
            });
        }

        var appendSelectedList = function (){
            let selectedList = tistoryList.filter(function(content){
                return content.title.indexOf(tstTitleMap[modalId]) >=0 ;
            });
            let html = '';
            $.each(selectedList, function (idx,item){
                html += '<div id="tstPost'+item.id+'">';
                let title = item.title.split(tstTitleMap[modalId])[1].trim();
                html += '    <button type="button" onclick="appendTistoryDetail(\''+item.id+'\');" class="list-group-item list-group-item-action">'+title+'</button>';
                html += '</div>';
            })

            $('#'+modalId +' modal-body').append(html);
        }

        var myModal = new bootstrap.Modal($('#' + modalId));
        myModal.show();
    }

    function appendTistoryDetail(num){
        if($('#div1 button').hasClass('active')) return;

        $('#div1 button').addClass('active');
        var html = '<div>글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~글쓰기~~~~~~~~@#@#@##!!@@@@@@@@@@@@~~~~~</div>';
        $('#div'+num).append(html);
        debugger
    }

    function getTistoryList(successCallBack){
        let url = '/api/v1/tistory';
        wbGetJson(successCallBack,function (ret){
            console.log("##티스토리 실패##",ret);
            debugger;
        },url);
    }
    function getTistoryDetail(){
        var successCallBack = function (ret){
            console.log("##티스토리 성공##",ret);
            debugger;
        }
        let url = '/api/v1/tistory/2';
        wbGetJson(successCallBack,function (ret){
            console.log("##티스토리 실패##",ret);
            debugger;
        },url);
    }

    function appendInstagram(list){
        let html = "";
        html += '<div id="instaWrapper">';
        $.each(list,function (idx,item) {
            let caption = item.caption.replaceAll('\n','<br>');
            html += '    <div class="instagram-All">';
            html += '        <div class="instagram-title">';
            html += '            <img src="/image/app/logo_instagram.png">';
            html += '                <span class="instagram-username">'+item.username+'</span>';
            html += '        </div>';
            html += '        <div class="instagram-media">';
            html += '            <video src="'+item.media_url+'" controls id="realsVideo"></video>';
            html += '        </div>';
            html += '        <div class="instagram-content">';
            html += '            <span class="instagram-username">'+item.username+'</span>';
            html += '            <span class="instagram-caption">'+caption+'</span>';
            html += '        </div>';
            html += '    </div>';
        });
        html += '</div>';
        $('#contents').append(html);
    }
</script>


{{>layout/footer}}