#room{
    background-image: url('/image/app/room.png');
    width: 920px;
    height: 420px;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
#shoesImage{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 240px;
}
#tennisImage{
    display: inline-block;
    position: relative;
    left: 420px;
    top: 250px;
}
#deskImage{
    display: inline-block;
    position: relative;
    left: -60px;
    top: 85px;
}
#ball{
    position: relative;
    left: -220px;
    top: 300px;
}
