.top-alert-pc{
    display: flex!important;
}
.top-alert-mobile{
    display: none!important;
}
#room{
    background-image: url('/image/app/room1.png');
    width: 590px;
    height: 400px;
    background-size: contain;
    background-repeat : no-repeat;
    background-position: center center;
    /* 위  ? ? 왼쪽*/
    margin: 50px 0px 0px 100px;
    position: relative;
}
#shoesImage{
    display: inline-block;
    position: relative;
    left: 100px;
    top: 230px;

    /*수정시 이미지 태그 함께수정하기*/
    width: 130px;
    height: 66px;
}
#tennisImage{
    display: inline-block;
    position: relative;
    left: 550px;
    top: 200px;

    width: 200px;
    height: 98px;
}
#deskImage{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 170px;

    width: 85px;
    height: 95px;
}
.infoMsgDiv{
    width: 130px;
    height: 130px;
    margin: 1rem auto 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-left: 0.8rem;

    border: 2px solid;
}

/* ######################## shoes ######################## */
.shoesAll{
    width: 90%;
    margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2rem;
}
.card-headder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-thumbnail-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.shoes .badge{
    font-size: 1rem;
}
.img-thumbnail {
    height: 150px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* ###### instagram ###### */
#instaWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F5F5F5;
}
.instagram-All{
    display: inline;
    width: 451px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 0.1px lightgray solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px grey;
}
.instagram-title{
    padding: 0.5rem 0.8rem;
    border-radius: 10px 10px 0 0;
    background-color: white;
}
.instagram-title img{
    width: 2rem;
}
.instagram-username{
    font-size: 0.9rem;
    font-weight: 600;
}
.instagram-media{
    background-color: white;
}
.instagram-media img{
    width: 450px;
}
.instagram-media video{
    width: 450px;
}

.instagram-content{
    background-color: white;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.8rem;
    border-radius: 0 0 10px 10px;
}

/* 모바일 버전 */
@media (max-width: 1000px){
    .top-alert-pc{
        display: none!important;
    }
    .top-alert-mobile{
        display: flex!important;
    }
    .top-alert-mobile.d-grid{
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    /*모바일 신발*/
    .card-thumbnail-box{
        justify-content: flex-start;
    }


    /*모바일 인스타그램*/
    .instagram-All{
        width: 85%;
        max-width: 400px;
    }
    .instagram-All video{
        width: 100%;
    }

}