.row{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileBox1{
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
}
.profileBox2{
    height: 220px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileImgBox{
    height: 220px;
    width: 220px;
}
.profileContentBox1{
    text-align: center;
    height: 195px;
}
.profileMyName{
    padding-top: 40px;
    font-size: x-large;
}
.profileContentBox2{
    text-align: center;
}



.menuBox1{
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menuBox2{
    text-align: center;
}

@media (min-width: 990px){
    .menuBox1 {
        height: 400px;
        margin-left: 40px;
    }
}