@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
}

.row{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileBox1{
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
}
.profileImgBox{
    height: 220px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 메인사진 */
.profileImgDiv{
    height: 240px;
    width: 240px;
    background-size: cover;
}
/* 소개글 */
.profileContentBox1{
    text-align: center;
    height: 170px;
}
.profileMyName{
    padding-top: 20px;
    font-weight: 900;
    font-size: 2.5rem;
}
/* contact 아이콘 */
.profileContentBox2{
    text-align: center;
    padding: 10px;
}

.menuBox1{
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menuBox2{
    text-align: center;
    padding: 20px;
    width: 80%;
}

/* pc 버전 */
@media (min-width: 990px){
    .menuBox1 {
        height: 400px;
        margin-left: 40px;
    }
}