@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(111, 138, 118);
}
.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 840px;
    margin-top: 30px;
    background-color: white;
}
.leftAll {
    width: 240px;
    display: inline-block;
    background-color: rgb(220, 242, 253);
}
.contactImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 40px;
}
/* 이력서 사진 */
.contactImgDiv {
    height: 190px;
    width: 190px;
    background-size: cover;
    border-radius: 50%;
}
/* 모바일버전 이름 */
.mContactMyName{
    display: none;
}

.contactInfoWrapper{
    margin-bottom: 20px;
}
/* 좌측 타이틀 */
.contactInfoTitle {
    background-color: rgb(62, 146, 189);
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
    width: 255px;
    height: 50px;

    font-size: 23px;
    font-weight: 600;
    padding: 5px 30px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.contactAboutContent{
    padding-left: 15px;
}
/* 좌측 컨텐츠 */
.contactInfoDiv{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    text-align: right;
}
.siteId{
    padding-left: 15px;
    font-size: 14px;
}

/* #############우측############ */
.rightAll {
    width: 570px;
    margin-left: 30px;
    padding-left: 15px;
    display: inline-block;
}
/* PC버전 이름 */
.hConteactMyName {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: x-large;
}
.hConteactMyName span:first-child{
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
}


/* 우측 타이틀 */
.careerInfoTitle {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 800;
}
.careerInfoTitle .botLine {
    border-bottom: 6px solid rgb(62, 146, 189);
    border-radius: 10px;
    margin-right: 60px;
    margin-bottom: 10px;
}
.careerInfo {
    display: flex;
}
.careerInfo span:nth-child(1) {
    width: 160px;
    margin-right: 10px;
}

.resumeFooter{
    height: 100px;
    width: 100%;
}
@media (min-width: 990px){

}
