{{>profiles/header}}

<div class="contents">
    <div class="wrapper">
        <div class="leftAll">
            <div class="contactImgBox">
                <div class="contactImgDiv" style="background-image: url(/image/app/bg_main.jpg);">
                </div>
            </div>
            <div class="mContactMyName">임 서 형</div>


            <div class="contactMain">
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>About</span>
                    </div>
                    <div class="contactInfoDiv">
                        <div>개발자~~~~~~~소개글</div>
                    </div>
                </div>
                <div class="contactInfoWrapper">
                    <div class="contactInfoTitle">
                        <span>Contact</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo">로고1</span>
                        <span class="siteId">010 8836 0007</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo"><img src="/image/app/logo_instagram.png" alt="인스타로고" width="40"></span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo">email</span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo">email</span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo">email</span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                    <div class="contactInfoDiv">
                        <span class="logo">email</span>
                        <span class="siteId">bgwb0007@naver.com</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightAll">
            <div class="hConteactMyName">
                <span>임서형(Lecky)</span><br>
                <span>Web Developer</span>
            </div>
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Carrer</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2021.07 ~ </span>
                    <span>Lg CNS 클라우드런치센터 클라우드개발3팀</span>
                </div>
                <div class="careerInfo">
                    <span>2022.05</span>
                    <span>개발시작~</span>
                </div>
            </div>
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Education</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2014.03 ~ 2021.08</span>
                    <span>경희대학교 산업경영공학</span>
                </div>
            </div>
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Certificate</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2021.12</span>
                    <span>정보처리기사</span>
                </div>
            </div>
            <div class="careerInfoWapper">
                <div class="careerInfoTitle">
                    <span>Project</span>
                    <div class="botLine"></div>
                </div>
                <div class="careerInfo">
                    <span>2022.09 ~ 2022.04</span>
                    <span>kb국민카드 홈 리뉴얼 프로젝트
                    <br>프로젝트 정보....~~</span>
                </div>
            </div>
        </div>
    </div>
    <div class="resumeFooter"></div>
</div>

{{>profiles/footer}}