{{>layout/header}}

<div class="content">
    <div class="container">
        <div class="row gy-4">
            <!-- 프로필박스 -->
            <div class="profileBox1 col-lg-6 border border-3 rounded-3" >
                <div class="profileBox2">
                    <div class="profileImgBox bg-primary rounded-circle">
                        원형박스
                    </div>
                </div>
                <div class="profileContentBox1">
                    <div class="profileMyName">임 서 형</div>
                    <div>개발자~~~~~~~소개글</div>
                </div>
                <div class="profileContentBox2 border">
                    <span>폰</span>
                    <img src="/image/app/logo_instagram.png" alt="인스타로고" width="35">
                    <span>메일</span>
                    <span>링크드인</span>
                </div>
            </div>

            <div class="menuBox1 col-lg-5 border">
                <div class="menuBox2 border">
                    <a href="/profiles">프로필</a>
                </div>
                <div class="menuBox2 border">
                    소개
                </div>
                <div class="menuBox2 border">
                    게시판
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}