<!DOCTYPE HTML>
<html>
<head>
    <title>West_brother</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
    <h1>AWS lightsail - 배포테스트</h1>
파이프라인 테스트 _자동배포 파이프라인 구축
</body>
</html>