<!DOCTYPE HTML>
<html>
<head>
    <title>West_brother</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
    <h1>AWS lightsail - 배포테스트</h1>
dns 등록 완료
</body>
</html>