{{>layout/header}}

<div class="content">
    {{#shoesList}}
        {{itemName}}
        <img src="/images/{{storeFileName1}}">
        <img src="/images/{{storeFileName2}}">
    {{/shoesList}}
</div>

<script>
    function movePage(url){
        location.href = url;
    }
</script>

{{>layout/footer}}