{{>layout/header}}

<div class="content">
    {{#shoesList}}
        {{name}}
        {{productCode}}
        {{brand}}
        {{buy}}
        {{releasePrice}}
        {{sellPrice}}
        {{content}}
        {{purchaseDate}}
        <img src="/images/{{mainImage}}">
        {{#imageList}}
            <img src="/images/{{.}}">
        {{/imageList}}
    {{/shoesList}}
</div>

<script>
    function movePage(url){
        location.href = url;
    }
</script>

{{>layout/footer}}